/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik' , sans-serif;

}

:root{

    --main-color: #611620;
    --white-color:#ffffff;
    --dark-color: #222222;
    --gray-color: #c7c7c7;
    --dark-red: #d30000;
    --border-color:#6666662a;
    --name-item:#1818b8;
    --darkgray-color:#565656;
}

body{

    background: #f5f6f9;
    margin-top: 180px;
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}

p{
    color: var(--gray-color);
}

.container{
    width: 75%;
    margin: auto;
}
@media (max-width:1500px) {
    .container{
        width: 90%;

    }
}


/*  header */

header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #611620;
    z-index: 999;
}
.logo img{
    width: 250px;
}
header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
header .top-nav .logo img{
    width: 250px;
}
header .top-nav .search{
    width: 500px;
    border: 2px solid var(--white-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
header .top-nav .search input{
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}
header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background: var(--gray-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart_header{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .top-nav .cart_header i{
    color: var(--white-color);
    font-size: 20px;
    border: 1px solid var(--white-color);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
header .top-nav .cart_header i:hover{
    background: var(--white-color);
    color: var(--dark-color);
}
header .top-nav .cart_header .icon_cart{
    position: relative;

}
header .top-nav .cart_header .count_item{
    position: absolute;
    background: var(--white-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    top:-5px;
    right: 0;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}
header .top-nav .cart_header .tottal_price p{
    margin-bottom: 8px;
    color: var(--white-color);
}

header nav{
    background: var(--gray-color);
    border-top: 1px solid var(--border-color);
}
header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .links ul{
    display: flex;
    gap: 70px;
}
header .links ul li a{
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
header .links ul li{
    position: relative;
    padding: 20px 0;
}
header .links ul li::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
}
header .links ul li.active::after,
header .links ul li:hover::after{
    width: 100%;
}

header .links .login_signup a{
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--white-color);
    margin-left: 10px;
    border-radius: 5px;
}

/*end of the heder*/


/*Cart*/
.cart{
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 400px;
    background: #f5f6f9;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.7s ease;
}
.cart.active{
    right: 0;
}
.cart .top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top_cart .close_cart i{
    font-size: 20px;
    cursor: pointer;
}
.cart .top_cart h3{
    font-size: 18px;

}
.cart .top_cart h3 span{
    font-size: 14px;
    color: var(--darkgray-color);
    font-weight: normal;
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color) ;
    margin-block: 20px;
    height: 100%;
}
.cart .cart_item{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.cart .cart_item:last-child{
    margin-bottom: 0;
}
.cart .cart_item img{
    width: 100px;
}
.cart .cart_item h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.cart .cart_item .delet_item{
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
.cart .cart_item .delet_item i{
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.cart .cart_item .delet_item i:hover{
    color: var(--dark-red);
    transform: scale(1.2);
}




.cart .bottom_cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart .bottom_cart .total p{
    color: var(--darkgray-color);
}
.cart .bottom_cart .total .price_cart_total{
    color: var(--main-color);
}
.cart .cart_button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart .cart_button .btn_cart{
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px ;
    text-transform: uppercase;
    background: var(--main-color);
    transition: 0.3s ease;
    color: var(--white-color);
}
.cart .cart_button .btn_cart:hover{
    background: transparent;
    color: var(--dark-color)
}
.cart .cart_button .tranc_bg{
    background: transparent;
    color: var(--dark-color)
}
.cart .cart_button .tranc_bg:hover{
    background: var(--main-color);
    color: var(--white-color);
}

/* end of the cart */

#product-list {
    display: flex;
    gap: 10px;
    padding: 32px 16px;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: left;
    justify-self: center;
    flex-wrap: wrap;
}

#product-list .product-item {
    display: grid;
    grid-template-areas:
    "images"
    "meta";
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 300px;
}

#product-list .product-item .images {
    grid-area: images;
}

#product-list .product-item .images img {
    height: 200px;
}

#product-list .product-item .metadata {
    display: grid;
    grid-area: meta;
    grid-template-areas:
    "name name name"
    "name name name"
    "price price rating";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
}

#product-list .product-item .metadata .name {
    grid-area: name;
    font-weight: bold;
    font-size: 1.6em;
    margin: .7em 0;
}

#product-list .product-item .metadata .price {
    grid-area: price;
    font-weight: bold;
    font-size: 1.2em;
}

#product-list .product-item .metadata .rating {
    grid-area: rating;
}

#product-list .product-item .metadata .rating::before {
    content: "\f005";
    font-weight: 900;
    font-family: "Font Awesome 7 Free";
    margin: 0 4px;
}

#product-list .product-item {
    display: grid;
    grid-template-areas: "images" "meta";
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 300px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#product-list .product-item:hover {
    transform: scale(1.05);
}

#product-list .product-item .images img {
    height: 200px;
    transition: transform 0.3s ease;
}

#product-list .product-item:hover .images img {
    transform: scale(1.1);
}

#product-list .product-item .metadata .name {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#product-list .product-item:hover .metadata .name {
    color: var(--main-color);
    text-decoration: underline;
}
@media only screen and (max-width: 1280px) {
    #product-list .product-item {
        width: unset;
        flex: 1 0 300px;
    }
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}


/* Product Detail Page Styles */
.product-detail-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.product-detail {
    display: flex;
    gap: 30px;
    width: 100%;
}

.product-image img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.product-info {
    max-width: 800px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1em;
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}

.product-price {
    font-size: 1.5em;
    color: #611620;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-rating {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 25px;
}

/* Add to Cart Button */
.btn-add-to-cart {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 15px 30px;  
    font-size: 1.2em;  
    border: 2px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;  
    margin-top: 20px;  
}

.btn-add-to-cart:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

/* Checkout Button */
.checkout-button-container {
    width: 100%; 
    margin-top: 10px;
}

.checkout-button-container a {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.btn_cart {
    background-color: var(--white-color); 
    color: var(--main-color); 
    padding: 15px 30px;  
    font-size: 1.2em;  
    border: 2px solid var(--main-color); 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;  
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_cart:hover {
    background-color: var(--main-color); 
    color: var(--white-color); 
}



.container {
    width: 80%;
    margin: auto;
}

/* Checkout Page Styles */
.checkout-container {
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

/* Cart Items */
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.cart-item img {
    width: 100px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-info h4 {
    color: var(--dark-color);
    margin: 0;
    font-size: 1.2em;
}

.cart-price {
    color: #611620;  
}

.cart-item-info .quantity {
    color: #333;  
}

.cart-item-info p {
    color: var(--dark-color);
    margin: 5px 0;
}

.quantity {
    width: 50px;
}

/* Checkout Summary */
.checkout-summary {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.checkout-summary p {
    color: var(--dark-color);
    margin: 5px 0;
}

/* Shipping Address */
.shipping-address {
    margin-top: 40px;
}

.shipping-address h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.shipping-address form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.shipping-address form input:focus {
    border-color: var(--main-color); 
}

/* Checkout Button */
.checkout-button-container {
    margin-top: 30px;
    text-align: center;
}

.delete-btn, .delete-all-btn, .buy-btn {
    background-color: var(--main-color); 
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: var(--main-color); 
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover, .delete-all-btn:hover, .buy-btn:hover {
    background-color: var(--white-color);
    border-color: var(--main-color);
    color: var(--main-color);
}

/* Buttons for "Delete All" and "Buy Now" */
.delete-all-btn {
    background-color: #d30000;  /* Red button */
}

.buy-btn {
    background-color: #00af26; 
    border: #00af26;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
}